---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---

<div class="jumbotron">
    <p>The <b>Future Computing Technologies Lab (FCTL)</b> at <b>Clemson University</b> is a research group dedicated to investigating key problems in computer architecture, high-performance computing, and machine learning. Our work is heavily collaborative in nature, spanning a wide variety of domains including computer vision, speech recognition, bioinformatics, computational chemistry, and more.</p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<div id="funding">
    <h2>Funding</h2>
    <p>Our work is supported by the National Science Foundation, the state of South Carolina, Clemson University, DARPA, and generous gifts from BMW, NVIDIA, and others.</p>

    <p><strong>Active Grants</strong></p>
    <ul>
        <li>DOD: Complete and Resilient Documentation (CARD) for Operational Medical Environments</li>
        <li>NSF: CC*Data: National Cyberinfrastructure for Scientific Data Analysis at Scale (SciDAS) (2017-2021)</li>
        <li>Creative Inquiry: Machine Learning / Big Data (2018-)</li>
    </ul>

    <p><strong>Past Grants</strong></p>
    <ul>
        <li>Solarflare, Inc.: Network Intrusion Prevention and Detection System using SNORT on the Solarflare SFA6902F Application Onload Engine Platform (2012-2013)</li>
        <li>Clemson: Architectural Support for Transiently-Powered Computing (2013)</li>
        <li>NSF: MRI: Acquisition of High Performance Computing Instrument for Collaborative Data-Enabled Science (2012-2015)</li>
        <li>NSF: CAREER: Harnessing Hybrid Computing Resources in PetaScale Computing and Beyond (2012-2017)</li>
        <li>NetFPGA Laboratory for Future Internet and Any-layer Programmable Wired and Wireless Networking Research at Clemson University (2010-2011)</li>
        <li>NSF: Applications to Accelerators (A2A) (2009-2013)</li>
        <li>ORNL-SNS Giga-bit Interface Module (2009-2011)</li>
        <li>NIH: Accelerating Biomolecular Simulations on Reconfigurable Hardware (2008-2010)</li>
        <li>DARPA: Roadmap for Future of Reconfigurable Comptuing Research (2007-2008)</li>
        <li>Creative Inquiry: Biometrics on Accelerators (2008-2018)</li>
        <li>ORNL-SNS Timing Module (2007-2009)</li>
        <li>NASA NESC Power & Avionics SPRT (2006-2009)</li>
        <li>ORNL: LDRD (2004-2006)</li>
        <li>ORNL: Software Defined Radio (2005)</li>
    </ul>
</div>
