---
layout: default
title: Research Projects
---

<div class="card-columns">
    {% comment %}
    Sort the projects by date, putting those without dates last
    {% endcomment %}
    {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
    {% assign projects_by_date = projects_by_date | reverse %}
    {% for p in projects_by_date %}
        {% include project-card.html project=p %}
    {% endfor %}
</div>

<div>
    <p><strong>Past Grants</strong></p>
    <ul>
        <li>Solarflare, Inc.: Network Intrusion Prevention and Detection System using SNORT on the Solarflare SFA6902F Application Onload Engine Platform (2012-2013)</li>
        <li>Clemson: Architectural Support for Transiently-Powered Computing (2013)</li>
        <li>NSF: MRI: Acquisition of High Performance Computing Instrument for Collaborative Data-Enabled Science (2012-2015)</li>
        <li>NSF: CAREER: Harnessing Hybrid Computing Resources in PetaScale Computing and Beyond (2012-2017)</li>
        <li>NetFPGA Laboratory for Future Internet and Any-layer Programmable Wired and Wireless Networking Research at Clemson University (2010-2011)</li>
        <li>NSF: Applications to Accelerators (A2A) (2009-2013)</li>
        <li>ORNL-SNS Giga-bit Interface Module (2009-2011)</li>
        <li>NIH: Accelerating Biomolecular Simulations on Reconfigurable Hardware (2008-2010)</li>
        <li>DARPA: Roadmap for Future of Reconfigurable Comptuing Research (2007-2008)</li>
        <li>Creative Inquiry: Biometrics on Accelerators (2008-2018)</li>
        <li>ORNL-SNS Timing Module (2007-2009)</li>
        <li>NASA NESC Power & Avionics SPRT (2006-2009)</li>
        <li>ORNL: LDRD (2004-2006)</li>
        <li>ORNL: Software Defined Radio (2005)</li>
    </ul>
</div>
