<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Uncovering biomarker genes with enriched classification potential from Hallmark gene sets.
			</span><br />
			<span class="authors">
				Colin A Targonski, Courtney A Shearer, Benjamin T Shealy, Melissa C Smith, and F Alex Feltus.
			</span><br />
			<span class="venuetype"></span><span class="venue">Scientific reports 9(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Generalized value iteration networks: Life beyond lattices.
			</span><br />
			<span class="authors">
				Sufeng Niu, Siheng Chen, Hanyu Guo, Colin Targonski, Melissa C Smith, and Jelena Kova{\v{c}}evi{\'c}.
			</span><br />
			<span class="venuetype"></span><span class="venue">Thirty-Second AAAI Conference on Artificial Intelligence</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				HPC enabled real-time remote processing of laparoscopic surgery.
			</span><br />
			<span class="authors">
				Zahra Ronaghi, Karan Sapra, Ryan Izard, Edward Duffy, Melissa C Smith, Kuang-Ching Wang, and David M Kwartowitz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Medical Imaging 2016: Image-Guided Procedures, Robotic Interventions, and Modeling</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Enhancing hardware design flows with MyHDL.
			</span><br />
			<span class="authors">
				Keerthan Jaic and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 2015 ACM/SIGDA International Symposium on Field-Programmable Gate Arrays</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Subjective versus objective: classifying analytical models for productive heterogeneous performance prediction.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Melissa C Smith, Nilim Sarma, Ranajeet Anand, Edwin Weill, and Karan Sapra.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Supercomputing 71(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				HPC Enabled Real-Time Remote Processing of Laparoscopic Surgery.
			</span><br />
			<span class="authors">
				Karan Sapra, Zahra Ronaghi, Ryan Izard, Edward Duffy, Melissa C Smith, Kuang-Ching Wang, and David Kwartowitz.
			</span><br />
			<span class="venuetype"></span><span class="venue">Accepted Poster, Supercomputing (SC)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A practical network intrusion detection system for inline FPGAs on 10GbE network adapters.
			</span><br />
			<span class="authors">
				Keerthan Jaic, Melissa C Smith, and Nilim Sarma.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE 25th International Conference on Application-Specific Systems, Architectures and Processors</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Combining Hadoop and GPU to preprocess large Affymetrix microarray data.
			</span><br />
			<span class="authors">
				Sufeng Niu, Guangyu Yang, Nilim Sarma, Pengfei Xuan, Melissa C Smith, Pradip Srimani, and Feng Luo.
			</span><br />
			<span class="venuetype"></span><span class="venue">2014 IEEE international conference on big data (Big Data)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2014</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A regression-based performance prediction framework for synchronous iterative algorithms on general purpose graphical processing unit clusters.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Melissa C Smith, Nimisha Raut, and Xiaoyu Ren.
			</span><br />
			<span class="venuetype"></span><span class="venue">Concurrency and Computation: Practice and Experience 26(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Maximizing capture of gene co-expression relationships through pre-clustering of input expression samples: an Arabidopsis case study.
			</span><br />
			<span class="authors">
				F Alex Feltus, Stephen P Ficklin, Scott M Gibson, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">BMC systems biology 7(1)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Massive-scale gene co-expression network construction and robustness testing using random matrix theory.
			</span><br />
			<span class="authors">
				Scott M Gibson, Stephen P Ficklin, Sven Isaacson, Feng Luo, Frank A Feltus, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">PloS one 8(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2013</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Circumventing keyloggers and screendumps.
			</span><br />
			<span class="authors">
				Karan Sapra, Benafsh Husain, Richard Brooks, and Melissa Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">2013 8th International Conference on Malicious and Unwanted Software:" The Americas"(MALWARE)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Parallelizing principal component analysis for robust facial recognition using CUDA.
			</span><br />
			<span class="authors">
				Todd Goodall, Scott Gibson, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 Symposium on Application Accelerators in High Performance Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A comparative study of GPU programming models and architectures using neural networks.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Mohammad Bhuiyan, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Journal of Supercomputing 61(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Exploring multi-level parallelism for large-scale spiking neural networks.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Melissa C Smith, Nimisha Raut, and Xiaoyu Ren.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Conference on Parallel and Distributed Processing Techniques and Applications (PDPTA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A multi-node GPGPU implementation of non-linear anisotropic diffusion filter.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Nimisha Raut, Xiaoyu Ren, Melissa C Smith, and Sumedh Naik.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 Symposium on Application Accelerators in High Performance Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Optimization of shared high-performance reconfigurable computing resources.
			</span><br />
			<span class="authors">
				Melissa C Smith and Gregory D Peterson.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Embedded Computing Systems (TECS) 11(2)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Performance, optimization, and fitness: Connecting applications to architectures.
			</span><br />
			<span class="authors">
				Mohammad A Bhuiyan, Melissa C Smith, and Vivek K Pallipuram.
			</span><br />
			<span class="venuetype"></span><span class="venue">Concurrency and Computation: Practice and Experience 23(10)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An analytical model for multilevel performance prediction of Multi-FPGA systems.
			</span><br />
			<span class="authors">
				Brian Holland, Alan D George, Herman Lam, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">ACM Transactions on Reconfigurable Technology and Systems (TRETS) 4(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Evaluation of GPU architectures using spiking neural networks.
			</span><br />
			<span class="authors">
				Vivek K Pallipuram, Mohammad A Bhuiyan, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">2011 Symposium on Application Accelerators in High-Performance Computing</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Heterogeneous Accelerated Bioinformatics-Perspectives for Cancer Research.
			</span><br />
			<span class="authors">
				E Stahlberg, T Steinke, MC Smith, S Chandrasekaran, and B Chapman.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the International Conference on Engineering of Reconfigurable Systems and Algorithms (ERSA)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				An End-to-End Tool Flow for FPGA-Accelerated Scientific Computing.
			</span><br />
			<span class="authors">
				Greg Stitt, Alan George, Herman Lam, Melissa Smith, Vikas Aggarwal, Gongyu Wang, Casey Reardon, Brian Holland, Seth Koehler, and James Coole.
			</span><br />
			<span class="venuetype"></span><span class="venue">IEEE Design \& Test of Computers 28(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Acceleration of spiking neural networks in emerging multi-core and GPU architectures.
			</span><br />
			<span class="authors">
				Mohammad A Bhuiyan, Vivek K Pallipuram, Melissa C Smith, Tarek Taha, and Rommel Jalasutram.
			</span><br />
			<span class="venuetype"></span><span class="venue">2010 IEEE International Symposium on Parallel \& Distributed Processing, Workshops and Phd Forum (IPDPSW)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Optimization and performance study of large-scale biological networks for reconfigurable computing.
			</span><br />
			<span class="authors">
				Mohammad A Bhuiyan, Ananth Nallamuthu, Melissa C Smith, and Vivek K Pallipuram.
			</span><br />
			<span class="venuetype"></span><span class="venue">2010 Fourth International Workshop On High-Performance Reconfigurable Computing Technology And Applications (Hprcta)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2010</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Energy efficient biomolecular simulations with FPGA-based reconfigurable computing.
			</span><br />
			<span class="authors">
				Ananth Nallamuthu, Melissa C Smith, Scott Hampton, Pratul K Agarwal, and Sadaf R Alam.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 7th ACM international conference on Computing frontiers</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2009</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				FPGA implementation of Izhikevich spiking neural networks for character recognition.
			</span><br />
			<span class="authors">
				Kenneth L Rice, Mohammad A Bhuiyan, Tarek M Taha, Christopher N Vutsinas, and Melissa C Smith.
			</span><br />
			<span class="venuetype"></span><span class="venue">2009 International Conference on Reconfigurable Computing and FPGAs</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2007</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Using FPGA devices to accelerate biomolecular simulations.
			</span><br />
			<span class="authors">
				Sadaf R Alam, Pratul K Agarwal, Melissa C Smith, Jeffrey S Vetter, and David Caliga.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer 40(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Accelerating scientific applications with the SRC-6 reconfigurable computer: Methodologies and analysis.
			</span><br />
			<span class="authors">
				Melissa C Smith, Jeffrey S Vetter, and Xuejun Liang.
			</span><br />
			<span class="venuetype"></span><span class="venue">19th IEEE International Parallel and Distributed Processing Symposium</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Parallel application performance on shared high performance reconfigurable computing resources.
			</span><br />
			<span class="authors">
				Melissa C Smith and Gregory D Peterson.
			</span><br />
			<span class="venuetype"></span><span class="venue">Performance Evaluation 60(1-4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2005</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Scientific computing beyond CPUs: FPGA implementations of common scientific kernels.
			</span><br />
			<span class="authors">
				Melissa C Smith, Jeffrey S Vetter, and Sadaf R Alam.
			</span><br />
			<span class="venuetype"></span><span class="venue">2005 MAPLD International Conference</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
